*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-top: 19.6rem ;
}

header button {
    background: none;
    border: none;

    position: absolute;
    right: 6.0rem;
    top: 6.0rem;
    cursor: pointer;

}

main{
    position: relative;
    width: 83.3rem;
    height: 33.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17.5rem;

    margin: 0 auto;
    padding: 13px;
}

.control-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer span{
    font-size: 12.16rem ;
    line-height: 14.8rem;
    font-weight: 500;
    margin-bottom: 4.5rem;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 6.4rem;
    width: 6.4rem;
}

.controls button{
    background: none;
    border: none;
    height: 6.4rem;
    width: 6.4rem;
    cursor: pointer;
    
}



.cards{
    width: 30.8rem;
    height: 33.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
}

.cards button{
    border: none;
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 24px;

    background: #E1E1E6;
    cursor: pointer;
}

.hide{
    display: none;
}




.hidee svg path {
    fill: white;  
}


.cards .lighting{
    background-color: #E1E1E6;
}

.lighting svg path {
    fill: white;  
}

.cards .hidee{
    background-color: #02799D !important;
}

.dark{
    display: none;  
}

/* dark mode*/



@media (max-width: 830px){
    main{
        gap: 8rem
    }
}

@media (max-width: 800px){
    body{
        padding-top: 60px ;
    }
    header button {
        background: none;
        border: none;
    
        right: 3.0rem;
        top: 2.0rem;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh; 
        
    }

    .cards {
        width: 308px;
        gap: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .cards button{
        width: 13.8rem;
        height: 152px;
    }
}